In [1]:
import pandas as pd
import numpy as np

In [2]:
#train_data = pd.read_csv("train_data.csv")
#train_data = pd.read_csv("C:/Users/samya/PycharmProjects/Deep-Learning/PoemClassification(NLP)/Dataset/train_data.csv")
train_data = pd.read_csv(r"C:\Users\samya\PycharmProjects\Deep-Learning\Poem Classification (NLP)\Dataset\train_data.csv")

In [3]:
train_data

           Genre                                               Poem
0          Music                                                NaN
1          Music                In the thick brushthey spend the...
2          Music     Storms are generous.                       ...
3          Music   —After Ana Mendieta Did you carry around the ...
4          Music   for Aja Sherrard at 20The portent may itself ...
..           ...                                                ...
836  Environment  Why make so much of fragmentary blue In here a...
837  Environment  Woman, I wish I didn't know your name. What co...
838  Environment  Yonder to the kiosk, beside the creek, Paddle ...
839  Environment  You come to fetch me from my work to-night Whe...
840  Environment  You see them through water and glass, (both li...

[841 rows x 2 columns]

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 841 entries, 0 to 840
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Genre   841 non-null    object
 1   Poem    837 non-null    object
dtypes: object(2)
memory usage: 13.3+ KB

In [5]:
train_data.dropna(inplace=True)
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 837 entries, 1 to 840
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Genre   837 non-null    object
 1   Poem    837 non-null    object
dtypes: object(2)
memory usage: 19.6+ KB

In [6]:
train_data.Genre.value_counts()

Genre
Music          238
Death          231
Environment    227
Affection      141
Name: count, dtype: int64

In [7]:
train_data.head()

   Genre                                               Poem
1  Music                In the thick brushthey spend the...
2  Music     Storms are generous.                       ...
3  Music   —After Ana Mendieta Did you carry around the ...
4  Music   for Aja Sherrard at 20The portent may itself ...
5  Music   for Bob Marley, Bavaria, November 1980 Here i...

In [8]:
test_data = pd.read_csv(r"C:\Users\samya\PycharmProjects\Deep-Learning\Poem Classification (NLP)\Dataset\test_data.csv")

In [9]:
test_data

           Genre                                               Poem
0          Music  A woman walks by the bench I’m sitting onwith ...
1          Music  Because I am a boy, the untouchability of beau...
2          Music  Because today we did not leave this world,We n...
3          Music  Big Bend has been here, been here. Shouldn’t i...
4          Music  I put shells there, along the lip of the road....
..           ...                                                ...
145  Environment  To pick a tulip from the garden, the red one. ...
146  Environment  We are as clouds that veil the midnight moon; ...
147  Environment  When pulled, the spider web took another form....
148  Environment  Whose woods these are I think I know. His hous...
149  Environment  you can make the maples blazejust by stopping ...

[150 rows x 2 columns]

In [10]:
test_data.Genre.value_counts()

Genre
Affection      100
Environment     25
Death           13
Music           12
Name: count, dtype: int64

In [11]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Genre   150 non-null    object
 1   Poem    150 non-null    object
dtypes: object(2)
memory usage: 2.5+ KB

In [12]:
test_data.head()

   Genre                                               Poem
0  Music  A woman walks by the bench I’m sitting onwith ...
1  Music  Because I am a boy, the untouchability of beau...
2  Music  Because today we did not leave this world,We n...
3  Music  Big Bend has been here, been here. Shouldn’t i...
4  Music  I put shells there, along the lip of the road....

In [13]:
df = pd.concat([train_data, test_data])

df.Genre.value_counts()

Genre
Environment    252
Music          250
Death          244
Affection      241
Name: count, dtype: int64

In [14]:
Genre_dict = {'Music': 0, 'Death': 1, 'Environment': 2, 'Affection': 3}

In [15]:
df['Genre_num'] = df.Genre.map(Genre_dict)

df.head()

   Genre                                               Poem  Genre_num
1  Music                In the thick brushthey spend the...          0
2  Music     Storms are generous.                       ...          0
3  Music   —After Ana Mendieta Did you carry around the ...          0
4  Music   for Aja Sherrard at 20The portent may itself ...          0
5  Music   for Bob Marley, Bavaria, November 1980 Here i...          0

In [16]:
import spacy
"""
This line loads the large English language model (en_core_web_lg) from spaCy,
which is useful for natural language processing tasks such as tokenization, named entity recognition, and more.

"""
nlp = spacy.load('en_core_web_lg')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 987 entries, 1 to 149
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Genre      987 non-null    object
 1   Poem       987 non-null    object
 2   Genre_num  987 non-null    int64
dtypes: int64(1), object(2)
memory usage: 30.8+ KB

In [17]:
def preprocess(text):
    """
    Preprocesses the input text by removing stop words and punctuation, 
    and lemmatizing the remaining tokens.
    
    Args:
        text (str): The input text to be preprocessed.
    
    Returns:
        str: The preprocessed text.
    """
    # Process the input text using the spaCy NLP pipeline
    doc = nlp(text)
    
    # Initialize an empty list to store the filtered tokens
    filtered_tokens = []
    
    # Iterate over each token in the processed document
    for token in doc:
        # Check if the token is a stop word or punctuation
        if token.is_stop or token.is_punct:
            # If it is, skip to the next iteration
            continue
        
        # If the token is not a stop word or punctuation, add its lemma to the filtered tokens list
        filtered_tokens.append(token.lemma_)
        
    # Join the filtered tokens back into a string separated by spaces
    return ' '.join(filtered_tokens)

In [18]:
df['preprocesse_poem'] = df.Poem.apply(preprocess)

In [19]:
df.head()

,Genre,Poem,Genre_num,preprocesse_poem
1,Music,In the thick brushthey spend the...,0,thick brushthey spend hot day ...
2,Music,Storms are generous. ...,0,storm generous ...
3,Music,—After Ana Mendieta Did you carry around the ...,0,Ana Mendieta carry matin star hold forest fi...
4,Music,for Aja Sherrard at 20The portent may itself ...,0,Aja Sherrard 20The portent memory Wallace St...
5,Music,"for Bob Marley, Bavaria, November 1980 Here i...",0,Bob Marley Bavaria November 1980 brilliant m...

In [20]:
df['vector']=df['preprocesse_poem'].apply(lambda x : nlp(x).vector)

In [21]:
df.head()

,Genre,Poem,Genre_num,preprocesse_poem,vector
1,Music,In the thick brushthey spend the...,0,thick brushthey spend hot day ...,"[-0.23301056, 0.4172704, -1.9024599, 0.1179805..."
2,Music,Storms are generous. ...,0,storm generous ...,"[0.31313998, 1.0133803, -2.3404531, 0.01550724..."
3,Music,—After Ana Mendieta Did you carry around the ...,0,Ana Mendieta carry matin star hold forest fi...,"[-0.30556205, 0.74607736, -2.371861, 0.7017782..."
4,Music,for Aja Sherrard at 20The portent may itself ...,0,Aja Sherrard 20The portent memory Wallace St...,"[0.19898836, 0.8938671, -1.4865382, 0.6131068,..."
5,Music,"for Bob Marley, Bavaria, November 1980 Here i...",0,Bob Marley Bavaria November 1980 brilliant m...,"[-1.6018076, -0.27240664, -1.3535829, -0.95879..."